.marquee-container {
  overflow: hidden;
  width: 150%;

}

.animateMarquee {
  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}

.animateMarqueePaused {
  animation-play-state: paused !important;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  50% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
